body {
  background-color: #161616;
}

h2 {
  font-family:Inter ,sans-serif;
  color: azure;
  font-weight: 50;
  font-size: 50px;
  text-align: center;
  padding-top: 10%;
}

ul{
    list-style-type: none;
    margin:  36;
    padding: 0;
    overflow: hidden;
    background: none;
}

li{
    float: right;
}

li a{
    font-family: Inter , sans-serif;
    font-size: 50;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.gr a:hover {
  background: linear-gradient(25deg, #2C3E50, #FD746C);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    display: inline-block;
}

 /* li a:hover{
    background: linear-gradient(25deg, #2C3E50, #FD746C);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    display: inline-block;
}
    */

.home {
    font-size: 30px;
    margin-left: 16px;
}

