body {
    background-color: #121212;
    background-image: url(ImagesTweaked/Image1\ tweaked.jpg);
    margin-left: 30px;
    margin-top: 0px;
}
h1 {
    color: white;
    font-family: inter;
    font-weight: 100;
    text-align: left;
    margin: 10px;
    font-size: 40px;
}

.container {
    height: 100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}
.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    color: white;
    font-family: inter;
    font-size: 250px;
    font-weight: 800;
    transform-origin: center;
    
}
