body{
    background-color:#161616;
}

h1{

    color:white;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 96px;
    font-optical-sizing: display;
    
}

p{
   
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-weight: 400;
    font-size:40;
    font-optical-sizing: display;
}

.gradient{
    color: linear-gradiant (#0000FF , #FF00FF);
    font-family: Inter;
    font-weight: 700;
    font-size: 96px;
    font-optical-sizing: display;
}


